{% extends 'base/__base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<div class="form-signin" method="post">
    <a href="/" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </a>
    <h1 class="h3 font-weight-normal text-center">Вход</h1>
    <form method="post" action="{% url 'accounts:login' %} " novalidate>
        <div class="text-left">
            {% csrf_token %}
            {{ form|crispy }}
            
        </div>         
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <button type="submit" class="btn btn-success">Войти</button>         
            </div>
            <div class="col-md-7">
                <div class="pass-forget">
                    <a href="{% url 'password_reset' %}">Забыли пароль?</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center p-registration">
                    <a href="{% url 'accounts:createuser' %}" >Зарегистрироваться</a>
                </p>
            </div>         
        </div>
    </form>
</div>

{% endblock content %}

