{% extends 'base/__base.html' %}
{% load crispy_forms_tags %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<div class="form-signin">
    <h1>Забыли пароль?</h1>
    <p>Наберите свой электронный адрес, и мы вышлем вам инструкцию по его восстановлению.</p>

    <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="Выслать мне инструкцию!">
    </form>
</div>
  

{% endblock content %}

<div class="form-signin">
    <h1>Forgot your password?</h1>
    <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

    <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="Send me instructions!">
    </form>
</div>
