{% extends "base/__base.html" %}

{% load bootstrap %}

{% block content %}
<div class = 'form-signin'>


	<a href="/" class="close" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</a>
	<h1 class="h3 font-weight-normal">Регистрация</h1>
	<form method="post" action="{% url 'accounts:createuser' %}">
	{% csrf_token %}
		{{ form.email|bootstrap }}
		{{ form.password1|bootstrap  }}
		{{ form.password2|bootstrap  }}
		{{ form.phone|bootstrap  }}

		
		<script src='https://www.google.com/recaptcha/api.js?hl=ru'></script>
		
			<div class="form-group g-recaptcha" data-sitekey="6LfoK3AUAAAAAE830o8CEnYNbRkCB35ijAyjsRM6"  style="transform:scale(0.955);transform-origin:0 0;"></div>
     
		<button type="submit" class="btn btn-success">ДАЛЕЕ</button>
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
</div>

{% endblock %}