{% extends 'base/__base2.html' %}
{% load tz %}
{% load crispy_forms_tags %}

{% block title %}Личный кабинет{% endblock title %}

<h1 class='text-center'>Личный кабинет</h1>
  <div class='text-right'>
    <p class="lead">{{ user.email }}</p>
    <p class="lead">{{ user.profile }}</p>
    <a href=""><small>сменить номер телефона</small></a>
    <br>
    <a href="{% url 'accounts:change_password' %}"><small>сменить пароль</small></a>
    <br>
    <a href="{% url 'accounts:logout' %}"><small>выход</small></a>
  </div>
{% block content %}

  
  <h1 class='text-center'>Личный кабинет</h1>
  <div class='text-right'>
    <p class="lead"><a style="text-decoration:none" tabindex="0" data-toggle="popover" data-container="body" data-placement="top"  data-html="true" href="#" id="authUser" data-trigger="click hover"><span class="icon-user" ></span><p class="lead">{{ user.email }}</p></a></p>
    <p class="lead">{{ user.profile }}</p>

    <div id="popover-content-authUser" style="display: none">      
      <a class="dropdown-item text-center" href="">сменить номер телефона</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item text-center" href="{% url 'accounts:change_password' %}">сменить пароль</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item text-center" href="{% url 'accounts:logout' %}">выход</a>
    </div>
  </div>
  

  <hr>
  <h3>Купить лицензию</h3>
    <div class="row">
      <div class="col-6 col-sm-4"><select id="inputState" class="form-control">
            <option selected>1 месяц</option>
            <option>3 месяца</option>
            <option>6 месяцев</option>
            <option>12 месяцев</option>
          </select></div>
      <div class="col-6 col-sm-4 product-price text-center "> 
      </div>
      <div class="col-6 col-sm-4">
        <button type="submit" class="btn btn-success btn-block">Купить</button>
      </div>
    </div>

  <br>
  <h3>Текущие лицензии{% if  not user.user_lisences.all %}. <small>У вас пока еще нет ни одной лицензии</small> </h3>
  {% else %} </h3> 
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">номер лицензии</th>
          <th scope="col">hwid оборудования</th>
          <th scope="col">дата начала</th>
          <th scope="col">дата окончания</th>
          <th scope="col">статус</th>
        </tr>
      </thead>
      <tbody>

        {% for lisence in user.user_lisences.all %}
        <tr>
          <td>{{ lisence.number }}</td>
          <td>{{ lisence.hwid }}</td>
          
          <td>{{ lisence.start }}</td>
          <td>{{ lisence.end }}</td>
          
          <td>{{ lisence.is_active }}</td>
        </tr>
        {% endfor %}
      
      </tbody>
    </table>

  {% endif %}
  <br>
  <h3>История платежей{% if  not user.user_payments.all %}. <small>У вас пока нет платежей</small></h3>
  {% else %}</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Дата</th>
          <th scope="col">Сумма</th>
        </tr>
      </thead>
      <tbody>

        {% for payment in user.user_payments.all %}
        <tr>
          <td>{{ payment.created }}</td>      
          <td>{{ payment.amount }} руб.</td>
        </tr>
        {% endfor %}
      
      </tbody>
    </table>
  {% endif %}    

{% endblock content %}

{% block js %}
{{ block.super }}

<script>
$( "select" )
  .change(function () {
    var str = "";
    $( "select option:selected" ).each(function() {
      str += $( this ).text() + " ";
    });
    $( "div.product-price" ).text( str );
  })
  .change();

//Popovers initialization
$("[data-toggle=popover]").each(function(i, obj) {

$(this).popover({
  // container: 'body',
  delay: { "show": 500, "hide": 100},
  animation:true,
  html: true,
  content: function() {
  var id = $(this).attr('id')
  return $('#popover-content-' + id).html();
  }
  });
});

</script>
{% endblock js %}