{% extends 'base/__base2.html' %}
{% load static %}
{% load tz %}
{% load crispy_forms_tags %}

{% block title %}Личный кабинет{% endblock title %}

<h1 class='text-center'>Личный кабинет</h1>
  <div class='text-right'>
    <p class="lead">{{ user.email }}</p>
    <p class="lead">{{ user.profile }}</p>
    <a href=""><small>сменить номер телефона</small></a>
    <br>
    <a href="{% url 'accounts:change_password' %}"><small>сменить пароль</small></a>
    <br>
    <a href="{% url 'accounts:logout' %}"><small>выход</small></a>
  </div>
{% block content %}

  
  <h1 class='text-center'>Личный кабинет</h1>
  <div class='text-right'>
    <a style="text-decoration:none" tabindex="0" data-toggle="popover" data-container="body" data-placement="top"  data-html="true" href="#" id="authUser" data-trigger="click hover"><span class="icon-user" ></span>{{ user.get_name_from_email }}</a>
    <div class="lead"><small>{{ user.profile }}</small></div>

    <div id="popover-content-authUser" style="display: none">
      {% if user.profile %}      
        <a class="dropdown-item text-center" href="{% url 'accounts:change_profile' user.profile.pk %}">сменить номер телефона</a>
      {% else %}
        <a class="dropdown-item text-center" href="{% url 'accounts:create_profile' %}">указать номер телефона</a>
      {% endif %}
      <div class="dropdown-divider"></div>
      <a class="dropdown-item text-center" href="{% url 'accounts:change_password' %}">сменить пароль</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item text-center" href="{% url 'accounts:logout' %}">выход</a>
    </div>
  </div>
  

  <hr>
  <h3>Купить лицензию</h3>
    <div class="row">
      <div class="col-6 col-sm-4"><select id="inputState" class="form-control">
            <option selected>1 месяц</option>
            <option>3 месяца</option>
            <option>6 месяцев</option>
            <option>12 месяцев</option>
          </select></div>
      <div class="col-6 col-sm-4 product-price text-center "> 
      </div>
      <div class="col-6 col-sm-4">
        <button type="submit" class="btn btn-success btn-block">Купить</button>
      </div>
    </div>

  <br>
  <h3>Текущие лицензии{% if  not user.user_lisences.all %}. <small>У вас пока еще нет ни одной лицензии</small> </h3>
  {% else %} </h3> 
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">номер лицензии</th>
          <th scope="col">hwid оборудования</th>
          <th scope="col">дата начала</th>
          <th scope="col">дата окончания</th>
          <th scope="col">статус</th>
        </tr>
      </thead>
      <tbody>

        {% for lisence in user.user_lisences.all %}
        <tr>
          <td>{{ lisence.number }}</td>
          <td>{{ lisence.hwid }}</td>
          
          <td>{{ lisence.start }}</td>
          <td>{{ lisence.end }}</td>
          
          <td>{{ lisence.is_active }}</td>
        </tr>
        {% endfor %}
      
      </tbody>
    </table>

  {% endif %}
  <br>
  <h3>История платежей{% if  not user.user_payments.all %}. <small>У вас пока нет платежей</small></h3>
  {% else %}</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Дата</th>
          <th scope="col">Сумма</th>
        </tr>
      </thead>
      <tbody>

        {% for payment in user.user_payments.all %}
        <tr>
          <td>{{ payment.created }}</td>      
          <td>{{ payment.amount }} руб.</td>
        </tr>
        {% endfor %}
      
      </tbody>
    </table>
  {% endif %}    

{% endblock content %}

{% block js %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="{% static 'js/cabinet.js' %}"></script>
{% endblock js %}